body {
    font-family: Poppins;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.header {
    background-color: #40a2e3;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    height: 40px;
}

.header nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

.header nav a:hover {
    text-decoration: underline;
}

.login-btn {
    background-color: #F5B308;
    color: #f0f0f0;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px; 
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #40A2E3;
    border-radius: 8px; 
}


header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.form-header-container h1 {
    margin: 30px 0; 
    padding-left: 110px;
}

.form-container {
    max-width: 1100px;
    margin: 50px auto;
    padding: 50px;
    border: 1px solid #ccc; 
    border-radius: 8px; 
    background-color: #A7D2EF; 
}

.form-title {
    color: #f4f4f4; 
    background-color: #002B52;
    padding: 10px 70px; 
    margin: -50px 0 10px -50px;
    width: 98%;
    padding-left: 50px;
    border-radius: 8px 8px 0px 0px; 
}

.form-columns {
    display: flex;
    justify-content: space-between;
    border-radius: 8px; 
}

.form-left,
.form-right {
    flex: 2;
    margin-right: 30px;
}

.form-right {
    margin-right: 0;
}

.form-left label,
.form-right label,
.form-left input,
.form-right input,
.form-left textarea,
.form-right textarea,
.form-left select,
.form-right select {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    max-width: 300px; 
    border-radius: 8px; 
}

.form-left input,
.form-right input,
.form-left textarea,
.form-right textarea,
.form-left select,
.form-right select {
    padding: 8px;
    font-size: 14px;
}

.form-left textarea,
.form-right textarea {
    resize: vertical;
}


.form-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end; 
    border-radius: 8px; 
}

button {
    padding: 10px 15px;
    font-size: 14px;
    margin-left: 10px; 
    background-color: #FAAF40;
    border-radius: 8px; 
}